# Composer dependencies
/vendor/
/storage/
composer.phar
composer.lock

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor settings
.vscode/
.idea/

# PHP specific cache/logs
*.log
*.cache
*.tmp
*.lock
.phpunit.result.cache

# Environment files (dotenv)
.env
.env.*

# Node (JavaScript) dependencies
node_modules/

# Uploaded files (temporary)
/public/uploads/tmp/