{% extends 'layout.twig' %}

{% block content %}
	<section class="column-list">
		<h1>コラム一覧</h1>
		<hr>
		<h2>カテゴリー一覧</h2>
		<ul>
			<li><a href="/column/category/bodymake">ボディメイク</a></li>
			<li><a href="/column/category/training">トレーニング</a></li>
			<li><a href="/column/category/stretch">ストレッチ</a></li>
			<li><a href="/column/category/diet">ダイエット</a></li>
			<li><a href="/column/category/lifestyle">ライフスタイル</a></li>
			<li><a href="/column/category/others">その他</a></li>
		</ul>
		<hr>
		<ul>
		{% for item in columns %}
			<li>
			<a href="/column/detail/{{ item.id }}">
				<span class="date">{{ item.publishedAt }}</span> -
				<span class="title">{{ item.name }}</span>
			</a>
			</li>
		{% else %}
			<li>コラムはまだありません。</li>
		{% endfor %}
		</ul>
	</section>

	{# ページネーション #}
	{% include 'parts/pagination.twig' %}

{% endblock %}
