{% extends 'layout.twig' %}

{% block content %}
	<section class="column-list">
		<h1>コラム一覧</h1>
		<hr>
		<p><a href="/column">コラム一覧に戻る</a></p>
		<hr>
		<h2>カテゴリー: {{ categoryName }}</h2>
		<ul>
		{% for item in columns %}
			<li>
			<a href="/column/detail/{{ item.id }}">
				<span class="date">{{ item.publishedAt }}</span> -
				<span class="title">{{ item.name }}</span>
			</a>
			</li>
		{% else %}
			<li>コラムはまだありません。</li>
		{% endfor %}
		</ul>
	</section>

	{# ページネーション #}
	{% include 'parts/pagination.twig' %}

{% endblock %}
