{% extends 'layout.twig' %}

{% block content %}
	<h1>ニュース一覧{% if page > 1 %}（{{ page }}ページ目）{% endif %}</h1>
	<hr>
	<ul>
	{% for item in news %}
		<li>
			<a href="/news/{{ item.slug }}">
				{{ item.publishedAt }} - {{ item.name }}
			</a>
		</li>
	{% else %}
		<li>記事がありません</li>
	{% endfor %}
	</ul>

	{# ページネーション #}
	{% include 'parts/pagination_path.twig' %}
{% endblock %}