{% extends 'layout.twig' %}
{% set title = 'Privacy Policy' %}
{% set page = 'privacy' %}

{% block content %}
	<div id="kv">
		<h1 class="vis-title" lang="en"><i>Privacy policy</i>個人情報保護方針</h1>
		<figure class="vis-img"><img src="/img/vis_provisional.webp" alt="TSUKIパン教室"></figure>
		<p class="vis-caption">TSUKIパン教室の個人情報保護方針です。</p>
	</div>
	<hr>
	<section>
		<p>{{ message }}</p>
	</section>
{% endblock %}