{% extends 'layout.twig' %}
{% set title = 'Rice Flour Bread' %}
{% set page = 'rice' %}

{% block content %}
	<div id="kv">
		<h1 class="vis-title" lang="en"><i>Rice flour bread</i>米粉パンLesson</h1>
		<figure class="vis-img"><img src="https://media.tsukipan.site/2024/05/IMG_4536-720x720.jpg" fetchpriority="high"></figure>
		<p class="vis-caption">グルテンフリーの米粉パンが学べます。<br>
		今までの米粉パンでは満足できなかった方も<br>
		ぜひ作ってみてください♪</p>
	</div>
	<hr>
	<section>
		<p>{{ message }}</p>
	</section>
{% endblock %}