{% extends 'layout.twig' %}
{% set title = 'Top' %}
{% set page = 'index' %}

{% block content %}
	<div id="kv">
		<h1>Welcome to the Top Page</h1>
	</div>

	<section>
		<p>{{ message }}</p>
		<hr>
		<p><img src="/img/og-image.webp" alt="サンプル画像"></p>
	</section>
	<hr>
{% endblock %}