@charset "utf-8";


/* -- Slider
-------------------------------------------------------------------------------- */
#kv {
	background: #31cde0 url(/img/og-image.webp) no-repeat center center / 1000px auto;
	height: calc(100vh - 200px);
	margin: 0 100px 100px 300px;
}
#kv:has(.show_.zoom_) {
	background: #fff;
}
.vis-box {
	width: 100%;
	height: 100%;
	position: absolute;
}
.vis-box.zoom_ {
	opacity: 1;
	z-index: 1;
}
.vis-box.show_ {
	z-index: 3;
}
.vis-img img {
	opacity: 0;
	z-index: 1;
	transition: opacity 2s linear, filter 3s linear;
	filter: blur(10px);
}
.vis-box.show_ .vis-img img {
	opacity: 1;
}
.vis-box.zoom_ .vis-img img {
	animation: slide_zoom 10s linear infinite;
	filter: blur(0);
}
@keyframes slide_zoom {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}
.vis-box.show_ .vis-caption {
	opacity: 1;
	bottom: -100px;
}
.vis-title {
	color: #fff;
	white-space: nowrap;
	opacity: 0;
	text-shadow: 0 0 3px #000, 0 0 5px #a68b62, 0 0 8px #a68b62;
	top: 50%;
	bottom: auto;
	left: calc(100% + 100px);
	transition: all 1s ease-in;
}
.vis-box.show_ .vis-title {
	opacity: 1;
	left: -200px;
}
.vis-caption {
	font: 600 1.6rem/2 "Gyate" ,sans-serif;
	color: #fff;
	background-color: rgba(49, 205, 224, 0.75);
	display: block;
	width: 320px;
	padding: 50px 100px;
	opacity: 0;
	box-shadow: 0 0 10px #a68b62;
	text-shadow: 0 0 5px #000;
	position: absolute;
	right: -100px;
	bottom: 0;
	transition: all 2s cubic-bezier(0.17,0.67,0.83,0.67);
}
.vis-caption span.arw,
a.vis-caption:hover {
	color: #fff;
}
.vis-caption span.arw::before,
.vis-caption span.arw::after {
	border-bottom-color: #fff;
	border-left-color: #fff;
}
.vis-caption:hover span.arw::before,
.vis-caption:hover span.arw::after {
	border-bottom-color: #a68b62;
	border-left-color: #a68b62;
}
.vis-box:only-of-type .vis-img img,
.vis-box:only-of-type .vis-title {
	transform: inherit!important;
	animation: inherit!important;
	transition: inherit!important;
	filter: inherit!important;
}
#kv .down {
	font-size: 0;
	color: #fff;
	text-align: center;
	width: 100%;
	text-shadow: 0 0 5px #31cde0, 0 0 8px #31cde0;
	position: absolute;
	bottom: -75px;
}
#kv .down i {
	font-size: 6rem;
	margin-right: 200px;
	animation: scroll_icon 1.6s linear infinite;
}
@keyframes scroll_icon {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	40%,
	60% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(20px);
	}
}



/* -- Contents
-------------------------------------------------------------------------------- */
body::after {
	content: "";
	display: block;
	width: 100%;
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1999;
	transition: all 1s linear;
}
header .logo {
	background: url(/img/logo_portrait.webp) no-repeat center center, url(/img/head_bg1.webp) no-repeat center 0, url(/img/head_bg2.webp) repeat-x -10px 0;
	background-color: #31cde0;
	background-size: 200px auto, 300px auto, auto 18px;
}
.js-nav_out header .logo {
	background: #31cde0 url(/img/logo-img.webp) no-repeat center center;
	background-size: 75px auto;
}
section[id^="sec"] {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 30% 100px 15%;
}
section[id^="sec"]:not(:last-of-type) {
	margin-bottom: -15%;
}
.img-bg {
	background-color: #fff;
	display: block;
	overflow: hidden;
	width: 120%;
	height: 100%;
	border-top: solid 200px #fff;
	position: absolute;
	top: 0;
	z-index: -1;
}
.img-bg span {
	background: fixed no-repeat center center / cover;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 2s linear;
}
_:-ms-input-placeholder,
:root .img-bg span {
	background-attachment: scroll;
}
.img-bg span.in {
	opacity: 0.75;
}
section[id^="sec"]:nth-of-type(odd) .img-bg {
	left: 0;
	transform: skewY(10deg);
	transform-origin: left top;
}
section[id^="sec"]:nth-of-type(odd) .img-bg span {
	transform: skewY(-10deg);
	transform-origin: left top;
}
section[id^="sec"]:nth-of-type(even) .img-bg {
	right: 0;
	transform: skewY(-10deg);
	transform-origin: right top;
}
section[id^="sec"]:nth-of-type(even) .img-bg span {
	transform: skewY(10deg);
	transform-origin: right top;
}
#secInfo .img-bg span {
	background-image: url(/img/index/info_bg.webp);
}
#secAbout .img-bg span {
	background-image: url(/img/index/about_bg.webp);
}
#secCourse .img-bg span {
	background-image: url(/img/index/course_bg.webp);
}
#secOther .img-bg span {
	background-image: url(/img/index/other_bg.webp);
}
#secRice .img-bg span {
	background-image: url(/img/index/rice_bg.webp);
}
section[id^="sec"] h2 {
	background: rgba(255, 255, 255, 0.75) url(/img/index/bg_title.webp);
	width: 100%;
	margin: 0 -100px -50px;
	padding: 50px 100px 100px;
}
#secAbout h2,
#secRice h2 {
	text-align: right;
	margin-left: 100px;
	/*padding-left: calc(50% - 100px);*/
}
.img-sub {
	background-color: rgba(49, 205, 224, 0.75);
	display: block;
	width: 40%;
	margin-left: -100px;
	position: relative;
	top: -100px;
}
.img-sub img {
	width: 100%;
	position: relative;
}
.cont {
	font: 500 1.6rem/2 "Gyate" ,sans-serif;
	background: #fff no-repeat right 20px bottom 20px;
	width: 50%;
	padding: 30px 50px;
	border: dashed 2px #31cde0;
	box-shadow: 0 0 0 10px #fff, 5px 5px 20px #000;
	position: relative;
}
.cont.long {
	width: 100%;
}
.cont p + p {
	margin-top: 2em;
}
#secInfo {
	align-items: stretch;
}
#secInfo .cont:nth-of-type(even):not(.long) {
	top: -100px;
}
#secInfo .cont.notice {
	margin: 0 0 150px;
}
#secInfo .cont + .cont.long {
	margin: 50px 0 0;
}
#secInfo .info-lesson {
	display: flex;
	align-items: flex-end;
	flex-flow: row wrap;
	justify-content: space-between;
}
#secInfo .info-lesson li,
#secInfo .info-lesson::after {
	width: 32%;
}
#secInfo .info-lesson li {
	margin: 15px 0;
}
#secInfo .info-lesson::after {
	content: "";
}
#secInfo .info-lesson h4 {
	font-size: 1.6rem;
	text-align: center;
	margin-bottom: 5px;
}
#secInfo .info-lesson figcaption {
	font-size: 1.4rem;
}
#secInfo .info-lesson img {
	box-sizing: border-box;
	width: 100%;
	border: solid 5px #fff;
	box-shadow: 0 0 3px #333;
}
#secInfo figure.photo-l {
	width: 50%;
}
#secAbout .cont {
	background-image: url(/img/bg_illust1.webp);
	order: 3;
}
#secCourse .cont {
	background-image: url(/img/bg_illust3.webp);
}
#secRice .cont {
	background-image: url(/img/bg_illust8.webp);
	order: 3;
}
#secOther h2 {
	width: calc(100% - 200px);
	position: absolute;
	bottom: 25%;
}
#secOther ul {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 300px;
}
#secOther ul li {
	background-color: #fff;
	width: 30%;
	position: relative;
}
#secOther ul li:nth-child(2) {
	top: 5vw;
}
#secOther ul li:nth-child(3) {
	top: 10vw;
}
#secOther ul li:nth-child(-n+2) a,
#secOther ul li div {
	display: block;
	height: 300px;
	position: relative;
}
#secOther ul li:nth-child(1) a {
	background: url(/img/index/other_img1.webp) no-repeat center center / cover;
}
#secOther ul li:nth-child(2) a {
	background: url(/img/index/other_img2.webp) no-repeat center center / cover;
}
#secOther ul li:nth-child(3) div {
	background: url(/img/index/other_img3.webp) no-repeat center center / cover;
}
#secOther ul li h3 {
	font-size: 1.4rem;
	color: #6e3a21;
	background-color: rgba(255, 255, 255, 0.75);
	box-sizing: border-box;
	width: 100%;
	height: 67px;
	padding: 10px 25px;
	text-shadow: 0 0 1px #b9a49b, 0 0 3px #fff, 0 0 5px #fff;
	transition: all 0.3s ease-in-out;
}
#secOther ul li h3 i {
	font-size: 2.8rem;
	display: block;
	padding-bottom: 5px;
}
#secOther ul li p {
	font-size: 1.4rem;
	line-height: 1.5;
	color: #fff;
	background-color: rgba(49, 205, 224, 0.75);
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	padding: 25px;
	text-shadow: 0 0 1px #b9a49b, 0 0 3px #000, 0 0 5px #000;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all 0.3s ease-in-out;
}
#secOther ul li a:hover h3,
#secOther ul li div:hover h3 {
	height: 100%;
}
#secOther ul li a:hover p,
#secOther ul li div:hover p {
	background-color: rgba(49, 205, 224, 0.9);
}
#secOther ul li div p::before {
	content: "";
	background: url(/img/index/bg_mail.webp) no-repeat 0 center / 100% auto;
	display: block;
	width: 40%;
	height: 200%;
	margin: auto;
	opacity: 0.5;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	transform: rotate(-20deg);
}
#secOther a.arw {
	font-size: 1.8rem;
	color: #fff;
}
#secOther a.arw::before,
#secOther a.arw::after {
	border-bottom-color: #fff;
	border-left-color: #fff;
}
.no-data {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
}



/* -- Media query
-------------------------------------------------------------------------------- */
@media screen and (max-width: 1000px) {
	section[id^="sec"] {
		padding: 40% 50px 20%;
	}
	#secInfo {
		display: block;
	}
	#secInfo .cont {
		width: 100%;
		transform: translateY(0)!important;
	}
	#secInfo .cont:not(:first-of-type) {
		margin-top: 50px;
	}
}
@media screen and (max-width: 1600px) {
	#secOther ul {
		padding-bottom: 20%;
	}
	#secInfo .info-lesson li,
	#secInfo .info-lesson::after {
		min-width: 49%;
	}
}
@media screen and (max-width: 1480px) {
	#secOther ul {
		padding-bottom: 30%;
	}
}
@media screen and (max-width: 1320px) {
	#secOther ul {
		padding-bottom: 40%;
	}
}



/* -- Fade in
-------------------------------------------------------------------------------- */
.fade,
.fade li {
	opacity: 0;
	transition: all 1s ease;
}
.fade li {
	position: relative;
}
.fade.in,
.fade.in li {
	opacity: 1;
	transform: translateY(0)!important;
}
.cont.fade {
	transform: translateY(100px);
}
.news-list {
	overflow: hidden;
}
.news-list li {
	left: 101%;
}
.cont.fade.in .news-list li {
	left: 0;
}
#secAbout .img-sub.fade,
#secRice .img-sub.fade {
	left: 50%;
}
#secCourse .img-sub.fade {
	left: -50%;
}
.img-sub img {
	top: 0;
	left: 0;
	transition: all 1s ease;
	transition-delay: 1s;
}
.img-sub.fade.in img {
	top: 50px;
	left: 100px;
}
.img-sub.fade.in {
	left: 0!important;
}
#secOther li {
	transform: translateY(100px);
}
.fade.in li:nth-child(1) {
	transition-delay: 0.5s;
}
.fade.in li:nth-child(2) {
	transition-delay: 0.75s;
}
.fade.in li:nth-child(3) {
	transition-delay: 1s;
}
.fade.in li:nth-child(4) {
	transition-delay: 1.25s;
}
.fade.in li:nth-child(5) {
	transition-delay: 1.5s;
}
.fade.in li:nth-child(6) {
	transition-delay: 1.75s;
}
