<!-- footer / -->
<footer role="contentinfo">
	<ul>
		<li><a href="https://www.instagram.com/tsuki.pan/" class="fa fa-instagram">Instagram</a></li>
		<li><a href="https://www.facebook.com/miyo8888" class="fa fa-facebook-square">Facebook</a></li>
		<li><a href="https://ameblo.jp/miyopan8008">ブログ</a></li>
	</ul>
	<ul>
		<li><a href="/news">ニュース</a></li>
		<li><a href="/contact">お問い合わせ</a></li>
		<li><a href="/privacy">個人情報保護方針</a></li>
	</ul>
	<small>Copyright &copy; 2017 TSUKIパン教室</small>
</footer>
<!-- / footer -->
