<!-- header / -->
<header role="banner">
	<h1 class="logo">TSUKIパン教室 - 手ごねパンが基礎から学べる教室</h1>
	<p id="spNaviBtn"><span>MENU</span></p>
	<nav role="navigation">
		<ul class="nav-main">
			<li><a href="/about" class="fa fa-heart-o"><i>About us</i><span><em>TSUKIパン</em>教室のご紹介</span></a></li>
			<li><a href="/profile" class="fa fa-address-card-o"><i>Profile</i><span><em>TSUKIパン教室の</em>講師紹介</span></a></li>
			<li><a href="/course" class="fa fa-paper-plane-o"><i>Course</i><span>レッスンコース<em> &amp; メニュー</em></span></a></li>
			<li><a href="/rice" class="fa fa-leaf"><i>Rice flour</i><span>米粉パン</span></a></li>
			<li><a href="/info" class="fa fa-info-circle"><i>Information</i><span>TSUKIパン教室の情報</span></a></li>
			<li><a href="/contact" class="fa fa-envelope-o"><i>Contact</i><span>お問い合わせ</span></a></li>
		</ul>
		<p class="nav-lesson"><a href="/lesson" class="fa fa-calendar-o"><i>Lesson</i><span>レッスン日程・ご予約</span></a></p>
		<ul class="nav-sns">
			<li><a href="/students" class="fa fa-address-book-o"><b>Studens</b></a></li>
			<li><a href="https://www.instagram.com/tsuki.pan/" class="fa fa-instagram"><b>Instagram</b></a></li>
			<li><a href="https://www.facebook.com/miyo8888" class="fa fa-facebook-square"><b>Facebook</b></a></li>
			<li><a href="https://room.rakuten.co.jp/room_af998d5b78/items"><b>楽天ROOM</b></a></li>
			<li><a href="https://ameblo.jp/miyopan8008"><b>アメブロ</b></a></li>
		</ul>
	</nav>
</header>
<!-- / header -->