<aside role="complementary">
<div class="access">
<address>
<h2><img src="/img/logo_landscape.webp" alt="TSUKIパン教室"></h2>
<p>埼玉県熊谷市上之（熊谷駅より車で10分）<br>
自宅兼用の賃貸マンションの為<br>
詳細はお申込み後に、ご案内させていただきます。</p>
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12886.564288201662!2d139.40035126674925!3d36.150951689208554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601f29090d81b621%3A0xcd83ea6fcf79b1e3!2z44CSMzYwLTAwMTIg5Z-8546J55yM54aK6LC35biC5LiK5LmL!5e0!3m2!1sja!2sjp!4v1573217109960!5m2!1sja!2sjp" allowfullscreen=""></iframe>
</div>

<section class="calendar-wrap">
<h3>レッスン ＆ ご予約カレンダー</h3>
<ul id="calendarTab">
<li data-month="20261" class="active">2026.1</li>
<li data-month="20262">2026.2</li>
</ul>
<ul id="partTab">
<li data-part="daytime" class="active">小麦 - コース</li>
<li data-part="1day">小麦 - 1day</li>
<li data-part="nighttime">米粉 - 1day</li>
</ul>
<p id="support"><a href="#supportWindow">予約のしかた</a></p>

<section class="calendar active" id="20261">
<h4>2026.1</h4>
<div style="height:260px; width:100%; background:#fff; border:1px solid #31cde0;">
カレンダー入ります
</div>
</section>
<section class="calendar" id="20262">
<h4>2026.2</h4>
<div style="height:260px; width:100%; background:#fff; border:1px solid #31cde0;">
カレンダー入ります
</div>
</section>

{# FIXME: #}
</section>
<div id="supportWindow">
<figure class="pc"><span>close</span><img src="/img/support_img_pc.webp" alt="パソコンでの予約のしかた"></figure>
<figure class="sp"><span>close</span><img src="/img/support_img_sp.webp" alt="スマートフォンでの予約のしかた"></figure>
</div>
<div id="repletion">
<ul>
<li><h4>小麦パン - コース</h4>
<p>体験レッスンから始まり基礎、中級、上級、スペシャルメニューと<br>難しいパンに挑戦できる楽しさがあります。どこまで目指すかは自由！<br>時間は10時～14時の約4時間です。（試食パン時間を含む）</p></li>
<li><h4>小麦パン - 1dayレッスン</h4>
<p>月替わりの単発受講できるレッスンです。<br>時間はパンによって変わりますが基本は10時～14時の約4時間です。（試食パン時間を含む）<br>計21種類の小麦パンをご用意しております。</p></li>
<li><h4>米粉パン - 1dayレッスン</h4>
<p>グルテンフリーの米粉パンが月変わりで学べます。<br>時間は10時～13時の約３時間です。（試食パン時間を含む）<br>計12種類の米粉パンをご用意しております。</p></li>
</ul>
</div>
</aside>
